global-exclude *.py[cod]
global-exclude *.editorconfig
include gen_coap_service/conf/gen_coap_service.cfg
include gen_coap_service/conf/gen_coap_service.logo
include gen_coap_service/conf/gen_coap_service_utils.cfg
include gen_coap_service/conf/project.yaml
include gen_coap_service/conf/template/coapthon/basic_resources.template
include gen_coap_service/conf/template/coapthon/coap_client.template
include gen_coap_service/conf/template/coapthon/coap_server.template
include gen_coap_service/conf/template/coapthon/logging.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/AUTHORS.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/autogen.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/ChangeLog.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/configure.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/INSTALL.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/Makefile.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/NEWS.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/README.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/src/client_api.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/src/main.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/src/Makefile.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/src/print_error.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/src/print_success.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/src/print_usage.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/src/print_verbose.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/src/process_options.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_client/src/time_handler.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_server/AUTHORS.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_server/autogen.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_server/ChangeLog.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_server/configure.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_server/INSTALL.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_server/Makefile.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_server/NEWS.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_server/README.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_server/src/get_date.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_server/src/get_full.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_server/src/get_time.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_server/src/main.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_server/src/Makefile.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_server/src/server_api.template
include gen_coap_service/conf/template/coapthon/libcoap/coap_server/src/time_handler.template
include gen_coap_service/conf/template/node_coap/client.template
include gen_coap_service/conf/template/node_coap/server.template
include gen_coap_service/conf/template/rpi_pico_coap/TODO
include gen_coap_service/conf/template/template_coapthon.yaml
include gen_coap_service/conf/template/template_libcoap.yaml
include gen_coap_service/conf/template/template_node_coap.yaml
include gen_coap_service/conf/template/template_rpi_pico_coap.yaml
include gen_coap_service/log/gen_coap_service.log
include gen_coap_service/run/gen_coap_service_run.py
